N8n_Mission1/N8n_Project_1.json
{
  "name": "N8n_Project_1",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt }}",
        "options": {
          "systemMessage": "You are an expert on GTA V. Only answer questions using the content provided by the tool named \"gtaModsFile\". Do not use outside knowledge. If the answer is not in the file, say \"I don't have that information.\"\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -112,
        0
      ],
      "id": "8bd6f161-771a-4af4-89f2-1aee035ff707",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "ronen-test-session",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        16,
        192
      ],
      "id": "c8591f4c-f198-4386-9218-7355a7d46267",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -112,
        192
      ],
      "id": "a210bcb2-d049-4b9f-90fe-fc65dd8112fa",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NqDxP1QtygRREKjs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7a6e86ba-55cd-49e3-aa13-46b35902e3d5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -368,
        0
      ],
      "id": "ca527746-3eaa-4a5d-b331-c5a21d235d2c",
      "name": "Trigger",
      "webhookId": "7a6e86ba-55cd-49e3-aa13-46b35902e3d5"
    },
    {
      "parameters": {
        "toolDescription": "Simulation of DuckDuckGo Search",
        "url": "https://api.duckduckgo.com/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        192,
        352
      ],
      "id": "47419dbd-46e3-4447-b126-4be8118154fd",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "toolDescription": "Fetch GTA V info from GitHub TXT",
        "url": "https://raw.githubusercontent.com/Ronen-R/N8n_Project/main/Gta_V_info.txt\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        480,
        176
      ],
      "id": "16499bce-2ffe-48ac-9ce9-1d36f4354ed4",
      "name": "gtaModsFile"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseKey": "output"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        272,
        0
      ],
      "id": "1aec411d-0622-4d63-a775-d8a449e4d79a",
      "name": "Respond to Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gtaModsFile": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2c24c7dc-3e81-43f1-821f-d2439b70057f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "67814d2ee7adfab556656c5e55dceed56296a800fb15b03fc465ee1aeb43473b"
  },
  "id": "4dcfBofluKdLCXZg",
  "tags": []
}